.info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&Title {
		color: var(--gray-200);
		font-size: 0.75rem;
		line-height: 1.5;
		a {
			color: var(--gray-200);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&Number {
		font-size: 1.25rem;
		line-height: 1.5;
		font-weight: 700;
	}
}
